@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
#root {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

