.job-desc {
  width: 60vw;
  text-align: left;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(47, 51, 54);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: #00000085;
  width: 60vw;
}
.random-div .reccos {
  margin: 30px 0px;
  width: 60vw;
  padding: 10px 20px;
}
.random-div .reccos .reccos-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6px;
  align-items: flex-start;
}

.random-div .reccos .reccos-brand h3 {
  font-weight: 500;
  text-align: left;
  color: white;
  font-size: revert;
  padding: 0;
  margin: 0;
}

.random-div .reccos-brand button {
  font-size: small;
  font-weight: 300;
  margin: 0;
}

.random-div .reccos-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: max-content;
  padding: 10px 0px;
  gap: 10px;
}

.random-div .reccos-group .recc {
  display: flex;
  font-size: 14px;
  width: 25%;
  text-align: left;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgb(47, 51, 54);
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
