.print-div {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}
.print-div svg {
  margin: 0px -12px -2px 0px;
  height: 16px;
}

@media only screen and (max-width: 700px) {
  .profile-banner {
    width: 90vw;
    padding: 6% 0%;
  }
  .resume {
    width: 90vw;
  }
  .print-div {
    width: 90vw;
  }
}

@media print {
  /* Define styles for printing */
  html {
    background-image: none;
  }
  body {
    background-color: rgb(0, 0, 0);
    font-size: 8pt;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Hide unnecessary elements for printing */
  .navbar-left,
  .footer,
  .print-btn {
    display: none;
  }
  .navbar {
    position: absolute;
  }
  .resume,
  .profile-banner {
    width: 90vw;
  }
  .keep-together {
    page-break-inside: avoid; /* Prevent this div from breaking across pages */
  }
}
