.rb-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  width: 70vw;
  padding: 2% 0%;
  background-color: #00000085;
  border: 1px solid rgb(47, 51, 54);
  border-radius: 20px;
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.skills-box,
.education-box,
.experience-box,
.online-profile-box,
.project-box,
.headline-box,
.employment-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5vw;
  gap: 10px;
}
.skill,
.profile,
.project,
.employment,
.education {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project {
  flex-direction: column;
}
.project-input-group {
  display: flex;
  gap: 10px;
}
.project textarea {
  font-family: "Cabin", sans-serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #8c8273;
  border-radius: 10px;
  background: none;
  color: white;
}
.rb-con input {
  font-family: "Cabin", sans-serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #8c8273;
  border-radius: 10px;
  background: none;
  color: white;
}
.rb-con select {
  font-family: "Cabin", sans-serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #8c8273;
  border-radius: 10px;
  background: black;
  color: white;
}
.rb-con hr {
  border: 1px solid rgb(47 51 54);
  width: 95%;
}
.custom-date-input {
  position: relative;
  display: inline-block;
}

.custom-date-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 2px solid #8c8273;
  border-radius: 10px;
}

.custom-date-input label {
  position: absolute;
  top: 12px;
  left: 10px;
  pointer-events: none;
  color: #999;
  transition: 0.2s;
}

.custom-date-input input:focus + label,
.custom-date-input input:not(:placeholder-shown) + label {
  top: -8px;
  left: 6px;
  font-size: 12px;
  color: #ffffff;
}
@media only screen and (max-width: 700px) {
  .rb-con {
    width: 90vw;
  }
  .project textarea,
  .rb-con input {
    width: 80vw;
  }
  .project-input-group {
    flex-direction: column;
  }
  .pdf-upload-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .save-btn-2 {
    width: 85vw;
    color: #00ff00b8;
  }
}
