.wrapper-searchpage {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
  width: 100vw;
  align-items: center;
}

.footer {
  flex-shrink: 0;
}
