.wrapper-searchpage {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}

.footer {
  flex-shrink: 0;
}
