.test {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  padding: 2% 0%;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.test-div {
  border: 1px solid gray;
  border-radius: 16px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}
.test-div h3 {
  color: white;
  font-weight: 300;
}
.test-div p {
  font-size: 14px;
  padding: 4%;
  color: gray;
}
.middle-test-div {
  height: 35vh;
}
