.banner {
  font-family: "Roboto Slab", serif;
  color: black;
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.banner-heading {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 10%;
}
.banner-search {
  border-radius: 24px;
  display: flex;
  padding: 1%;
  background-color: #c9c9c957;
  flex: 1;
  justify-content: space-evenly;
}
.banner-heading p {
  font-size: 20px;
}
.banner-search input {
  color: black;
  border-radius: 10px;
  width: 18vw;
  font-size: large;
  border: none;
  background-color: white;
}
.banner-search input::placeholder {
  text-align: center;
}
.banner-search input:focus {
  outline: none;
}
