.banner {
  /* font-family: "Roboto Slab", serif; */
  font-family: "Cabin", sans-serif;
  color: rgb(232, 230, 227);
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding-bottom: 5%;
}
.banner-heading {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 10%;
}
.banner-search {
  border-radius: 24px;
  display: flex;
  padding: 10px;
  background-color: rgba(54, 59, 61, 0.34);
  flex: 1;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  max-width: 68vw;
  /* margin-top: 80px; */
  border: 1px solid rgb(47, 51, 54);
  background-color: #00000085;
}
.banner-heading p {
  font-size: 20px;
}
.banner-search input {
  color: #fff;
  border-radius: 14px;
  width: 25%;
  font-size: 90%;
  border: none;
  background-color: rgb(24, 26, 27);
  text-align: center;
  font-family: "Cabin", sans-serif;
}
.banner-search button {
  border-radius: 90%;
}
.banner-search input::placeholder {
  text-align: center;
}
.banner-search input:focus {
  outline: none;
}
.brands {
  margin: 10% 0px;
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.brands img {
  width: 90px;
  filter: grayscale(1) contrast(0.1);
}
.banner-pro {
  font-family: "Roboto Slab", serif;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
}
.banner-pro-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  /* align-content: flex-start; */
}
.banner-pro-left h1 {
  text-align: left;
}
.banner-pro-left button {
  background-color: black;
}
.banner-pro-right {
  flex: 1;
}
.banner-pro-right img {
  width: 30px;
  color: white;
}
.banner-part {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.banner-part-l {
  flex: 1;
}
.banner-part-r {
  display: flex;
  flex: 3;
  text-align: left;
  gap: 10px;
  flex-direction: column;
}
.banner-part-r h4 {
  color: gray;
}
.banner-part-l hr {
  width: 0;
  height: 80px;
}

@media only screen and (max-width: 700px) {
  .banner-pro {
    flex-direction: column;
  }
  .banner-pro-left {
    margin-bottom: 10%;
  }
  .brands {
    display: flex;
    flex-wrap: wrap;
  }
  .banner-search {
    max-width: 86vw;
  }
}
