.card {
  color: #fff;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(47, 51, 54);
  padding: 20px 20px;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  background-color: #00000085;
  align-items: flex-start;
  /* width: 60vw; */
}
.card h3 {
  font-weight: 500;
}
.card h3:hover {
  color: #646cff;
}
.card h4 {
  font-size: 15px;
}
.card p {
  font-size: 13px;
  margin: 0;
}
.card h4 {
  font-weight: 500;
  color: rgb(217, 217, 217);
}
.card p {
  font-weight: 300;
  color: darkgray;
  text-align: left;
}
.card button {
  min-width: 65px;
  font-size: 10px;
}
.card-btns {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.save-btn,.share-btn {
  background: none;
  border: none;
}
.save-btn:focus, .share-btn:focus {
  outline: none;
}
.save-btn:hover svg, .share-btn:hover svg {
  fill: #7c7c7c;
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
}
.card-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-txt a {
  text-align: left
}
.card-pic img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.tags-group {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}
.tags-group button {
  padding: 5px 5px;
  border-radius: 60px;
  margin: 10px 0px;
}
.tags-group button:nth-child(1) {
  background-color: #d93535;
}

.tags-group button:nth-child(2) {
  background-color: #646cff;
}

.tags-group button:nth-child(3) {
  background-color: #5ab127e8;
}
