.login-box {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  width: 90%;
}
.login-form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form form button {
  background-color: rgb(31, 34, 35);
}
.login-form a {
  color: rgb(232, 230, 227);
}
.login-heading {
  font-family: "Roboto Slab", serif;
  /* font-family: "Cabin", sans-serif; */
}
.login-form form input {
  /* font-family: "Roboto Slab", serif; */
  font-family: "Cabin", sans-serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  background: none;
  border-color: rgb(140, 130, 115);
}
.googleBtn2 {
  gap: 10px;
  width: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #8c8273;
}

.googlediv2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.login-box p {
  padding: 2%;
}

@media only screen and (max-width: 800px) {
}
