.login-box {
  width: 30vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form form button {
  background-color: rgb(31, 34, 35);
}
.login-form a {
    /* color: black; light mode */
    color: rgb(232, 230, 227);
}
.login-heading {
  font-family: 'Roboto Slab', serif;
  /* color: black; light mode */
}
.login-form form input {
    font-family: 'Roboto Slab', serif;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    /* color: black; light mode*/
    border-color: rgb(140, 130, 115);
}