.login-box {
  width: 30vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form a {
    color: black;
}
.login-heading {
  color: black;
}
.login-form form input {
    font-family: 'Roboto Slab', serif;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    color: black;
}