.long-banner {
  border: 1px solid rgb(42 42 72);
  font-family: "Poppins", sans-serif;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  border-radius: 30px;
  width: 25vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(0, 0, 0, 0.200); */
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
  /* background-color: rgb(248 248 248); */
  /* box-shadow: 0 6px 12px 12px rgba(30,10,58,.04); */
  border-radius: 20px;
  background-color: white;
  margin-top: 4%;
  background-color: rgb(31, 34, 35);
  /* border color */
  /* border: 1px solid #747bff47; */
}
.long-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  flex: 1.5;
}
.long-left img {
  /* border: 8px solid gray; */
  margin: 10px;
  border-radius: 167px;
  width: 13vw;
  height: 13vw;
}
.long-right {
  gap: 3%;
  text-align: center;
  display: flex;
  color: black;
  margin: 1%;
  flex: 4;
  flex-direction: column;
  color: rgb(232, 230, 227);
}
.long-right hr {
  width: 100%;
  border: 1px solid #0000001a;
}
.long-name h1 {
  /* color: #3a3a3ad3 !important; */
  color: rgba(195, 190, 182, 0.83) !important;
  margin: 0;
}
.long-name a h1 {
  font-size: 2.2em;
}
.long-name a h1:hover {
  color: #646cffaa !important;
}
.long-name,
h3,
h4 {
  margin: 0;
}
.long-name a h3 {
  font-weight: 500;
  color: #333333d3 !important;
}
.long-name h4 {
  font-weight: 500;
  color: #333333b9;
  color: rgba(200, 195, 188, 0.72);
}
.long-details {
  gap: 15%;
  height: 10%;
  display: flex;
  flex-direction: column;
}
.long-details h4 {
  font-weight: 500;
  color: #3333339c;
  color: rgba(200, 195, 188, 0.61);
}
.long-details hr {
  height: 0px;
  transform: rotate(90deg);
}
.long-details-left {
}
.long-details-right {
}
