.navbar {
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 34, 35);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 9999;
}
.navbar-right {
  flex: 1;
}
.navbar-brand {
  font-family: "Angkor", cursive;
  color: rgb(224, 224, 224);
  font-size: 30px;
}
.navbar-brand a {
  color: rgb(224, 224, 224);
}
.navbar-brand a:hover {
  color: rgb(224, 224, 224);
}
.navbar-left {
  flex: 1;
  display: flex;
}
.navbar-btn-group {
  width: 100%;
  display: flex;
  padding: 0px 15%;
  justify-content: space-evenly;
}
.navbar-btn-group button {
}
.dropdown .dropdown-button {
  color: rgb(200, 195, 188);
  color: #fff;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(27, 30, 31);
  min-width: 160px;
  z-index: 1;
  margin-top: 1px;
  border-radius: 12px;
}
.dropdown-content a {
  color: rgb(200, 195, 188);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(43, 47, 49);
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.navbar-btn-group svg {
  width: 30px;
  align-self: center;
}

/* Notifications */

.dropdown-1 .dropdown-button-1 {
  color: rgb(200, 195, 188);
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: none;
  background: none;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: rgb(27, 30, 31);
  min-width: 360px;
  z-index: 1;
  margin-top: 1px;
  border-radius: 12px;
}
.dropdown-content-1 a {
  color: rgb(200, 195, 188);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-1 a:hover {
  background-color: rgb(43, 47, 49);
  border-radius: 5px;
}
.dropdown-button-1:focus {
  outline: none;
}
.navbar-btn-group svg {
  width: 30px;
  align-self: center;
}
.notification-icon {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media only screen and (max-width: 1340px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar-btn-group button {
    font-size: 80%;
  }
  .navbar-btn-group {
    padding: 0;
    gap: 10px;
    justify-content: center;
  }
  .navbar-right {
    flex: 1;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-left {
    flex: 3;
  }
}
