.org-chart {
  width: 60vw;
  text-align: left;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(47, 51, 54);
  padding: 20px 20px;
  margin-top: 20px;
  background-color: #00000085;
  width: 60vw;
}
.org-chart canvas {
  max-height: 300px;
}
@media only screen and (max-width: 700px) {
  .org-chart {
    width: 70vw;
  }
}
