.login-heading {
  font-family: "Roboto Slab", serif !important;
}
.login-heading h2 {
  margin-top: -16px;
  font-family: "Roboto Slab", serif !important;
}
.l2-light .login-heading {
  color: #1f2223;
}
.l2-light .login-form input {
  color: #1f2223;
}
