li {
  display: flex;
  flex-direction: column;
}
.post-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100px;
  align-content: center;
  justify-content: space-around;
  color: darkgray;
}
.post-details-text h3 {
  font-weight: 500;
  color: #4a4aff;
}
.post-details-btn {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.post-details-btn button {
  height: fit-content;
}
.post-end-break {
  width: 80%;
  border: 1px solid #00000052;
}
