.profile-meter {
  border: 1px solid rgb(47, 51, 54);
  color: black;
  /* margin-top: 40px; */
  height: 20vh;
  border-radius: 20px;
  background-color: #00000085;
  max-height: 180px;
  padding-bottom: 30px;
}
.meter-brand h3 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}
.meter-heading h5 {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  color: grey;
}
.meter-details {
  display: flex;
  flex-direction: row;
}
.meter-percent {
  margin: 10px;
  margin-left: 20px;
  margin-bottom: -15px;
}
.meter-text {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.meter-text p {
  padding: 4%;
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgb(47, 51, 54);
  color: #e6e7fc;
}
@media only screen and (max-width: 700px) {
  .profile-meter {
    border: 1px solid rgb(42 42 72);
    color: black;
    /* margin-top: 40px; */
    height: max-content;
    border-radius: 20px;
    /* background-color: rgb(31, 34, 35); */
    /* max-height: 180px; */
    padding-bottom: 10px;
    padding: 10px 0;
    max-height: none;
}
.meter-details {
  display: flex;
  flex-direction: column;
}
.meter-percent {
  /* width: 100%; */
  display: flex;
  margin: 10px;
  margin-left: 20px;
  margin-bottom: -15px;
  justify-content: center;
}
.meter-text {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  gap: 4px;
}
.meter-text p {
  padding: 2%;
  /* background-color: rgb(31, 34, 35); */
  border-radius: 10px;
  border: 2px solid rgb(42 42 72);
  color: #e6e7fc;
  width: 80%;
}
}
