.profile-banner {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Cabin", sans-serif;
  border-radius: 30px;
  /* width: 200%; */
  /* height: 30vh; */
  width: 70vw;
  display: flex;
  flex-direction: row;

  border-radius: 20px;

  /* margin-top: 6%; */
  padding: 2% 0%;
  background-color: #00000085;
  border: 1px solid rgb(47, 51, 54);
}
.profile-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  flex: 1.5;
}
.profile-left img {
  border-radius: 167px;
  width: 13vw;
  height: 13vw;
}
/* CSS */
.profile-left {
  position: relative; /* Needed for absolute positioning of the button */
}

.hover-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #3498db;
  color: #fff; */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.profile-left:hover .hover-button {
  display: inline-block; /* Display the button when hovering over profile-left */
}

.img-div {
  display: flex;
  flex-direction: column;
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #3498db;
  color: #fff; */
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
}
.img-div label:hover {
  color: blue;
}
.img-div-in{
  display: none;
  width: 100%;
}
.profile-right {
  gap: 3%;
  text-align: left;
  display: flex;
  color: #fff;
  margin: 1%;
  flex: 4;
  flex-direction: column;
}
.profile-right hr {
  width: 80%;
  border: 1px solid #80808040;
  margin-left: 0%;
}
.profile-name h1 {
  margin: 0;
  color: white;
}
.profile-name,
h3,
h4 {
  margin: 0;
}
.profile-name h3 {
  font-weight: 600;
  color: darkgray;
}
.profile-name h4 {
  font-weight: 500;
  color: darkgray;
}
.profile-details {
  gap: 15%;
  height: 10%;
  display: flex;
}
.profile-details h4 {
  font-weight: 500;
  color: darkgray;
}
.profile-details hr {
  height: 0px;
  transform: rotate(90deg);
}
.profile-details-left {
}
.profile-details-right {
}


/* chnages */
/* CSS */
