.reccos {
  border: 1px solid rgb(42 42 72);
  color: black;
  /* margin-top: 10px; */
  height: max-content;
  border-radius: 20px;
  background-color: rgb(31, 34, 35);
  /* max-height: 280px; */
}

.reccos-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reccos-brand button {
  font-size: small;
  font-weight: 300;
  margin-right: 20px;
  margin-top: 10px;
}
.reccos-brand h3 {
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}
.reccos-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  height: max-content;
  padding: 10px 0px;
  gap: 10px;
}
.recc {
  font-size: 14px;
  width: 25%;
  text-align: left;
  color: white;
  padding: 10px 10px 10px 10px;
  background-color: #1f2223;
  border-radius: 10px;
  border: 2px solid #2a2a48;
}
.recc img {
  height: 82px;
  width: 80px;
}
@media only screen and (max-width: 700px) {
  .reccos-group {
    flex-direction: column;
  }
  .recc {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 10%;
  }
  .meter-percent {
    width: auto !important;
  }

}