.resume {
  /* font-family: "Poppins", sans-serif;/ */
  font-family: "Cabin", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  /* height: 50vh; */
  border-radius: 10px;
  gap: 10px;
  margin: 10px 0%;
  padding-bottom: 2%;
  width: 70vw;
}
.resume h1 {
  font-size: 36px;
  margin-left: 5%;
}
.resume h4 {
  margin-left: 5%;
  font-size: 18px;
  color: gray;
  font-weight: 300;
}
.title {
  /* background-image: linear-gradient(to right, #747bff33, #747bff00); */
  text-decoration: dashed;
  font-size: 10px;
  font-weight: 600;
  color: darkgray !important;
  margin-bottom: 10px;
}
.resume-headline,
.resume-skills,
.resume-employment,
.resume-education,
.resume-projects,
.resume-profiles {
  box-shadow: 1px;
  gap: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #00000085;
  border: 1px solid rgb(47, 51, 54);
  padding: 20px 0px;
}

.res-light .resume-headline,
.res-light .resume-skills,
.res-light .resume-employment,
.res-light .resume-education,
.res-light .resume-projects,
.res-light .resume-profiles {
  background-color: white !important;
  border: 1px solid rgb(232, 230, 227) !important;
  box-shadow: 0px 0px 20px 0px #e6e7fc;
}

.res-light .skills-group h5 {
  background-color: lavender !important;
  border: 1px solid rgb(232, 230, 227) !important;
  color: #181a1b;
}
.skills-group h5 {
  background-color: #181a1b;
  border: 1px solid #363b60;
  padding: 4px;
  border-radius: 18px;
  margin: 1px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.skills-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding-bottom: 10px;
}
.res-light .name {
  color: #181a1b !important;
}
.name {
  color: white !important;
  font-weight: 500 !important;
  font-size: 10px;
}
.employment-group,
.education-group,
.project-group,
.profile-group {
  margin: 10px 0px;
}
.resume-skills {
  display: flex;
}
.keep-together {
  page-break-inside: avoid; /* Prevent this div from breaking across pages */
}
