.banner-search {
  margin-top: 2%;
  border-radius: 24px;
  display: flex;
  padding: 1%;
  background-color: #c9c9c957;
  flex: 1;
  justify-content: space-evenly;
}
.banner-search input {
  color: black;
  border-radius: 10px;
  width: 18vw;
  font-size: large;
  border: none;
  background-color: white;
}
.banner-search input::placeholder {
  text-align: center;
}
.banner-search input:focus {
  outline: none;
}
