.signup-box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
}
.signup-heading {
  font-family: "Roboto Slab", serif;
  color: black;
}

.signup-heading h1 {
  color: #e1e1e1;
}
.signup-input {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.signup-input input {
  font-family: "Roboto Slab", serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #8c8273;
  border-radius: 10px;
  background: none;
  color: black;
}
.signup-button {
  gap: 4px;
  display: flex;
  justify-content: center;
}
.signup-button button {
  background-color: #1f2223;
}
