.signup-box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
}
.signup-heading {
  font-family: "Roboto Slab", serif;
  color: black;
}
.signup-heading h1 {
  color: #e1e1e1;
}
.signup-input {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signup-input input {
  font-family: "Roboto Slab", serif;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #8c8273;
  border-radius: 10px;
  background: none;
  color: white;
  width: 96%;
  display: flex;
}
.signup-button {
  gap: 4px;
  display: flex;
  justify-content: center;
}
.signup-button button {
  background-color: #1f2223;
}

#profilePictureInput {
  color: transparent;
  z-index: 0;
}

input[type="file"]::after {
  content: "Upload profile picture";
  color: gray;
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
  pointer-events: none;
}
.file-input-container {
  position: relative;
  display: inline-block;
}

.file-selected-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: green;
  pointer-events: none;
}
.googleBtn {
  gap: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #8c8273;
}

.googlediv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.signup-box form p {
  padding-top: 12px;
}