.test {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  padding: 2% 0%;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.test-div {
  border: 1px solid gray;
  border-radius: 16px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #48444447;
  height: 24vh;
}
.test-div h3 {
  color: white;
  font-weight: 300;
}
.test-div p {
  font-size: 14px;
  padding: 4%;
  color: gray;
}
.middle-test-div {
  height: 30vh;
}
@media only screen and (max-width: 900px) {
  .test {
    flex-direction: column;
    gap: 30px;
    height: 70vh;
  }
  .test-div {
    width: 60%;
    height: 22vh;
  }
  .test-div h3 {
    padding-top: 5%;
  }
  .middle-test-div {
    width: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .test {
    height: max-content;
  }
  .test-div {
    height: max-content;
  }
  .test-div h3 {
    padding-top: 5%;
  }
  .middle-test-div {
    width: 70%;
  }
}
